<!--// Footer \\-->
<footer id="sportsmagazine-footer" class="sportsmagazine-footer-two">
    <span class="footer-transparent"></span>
    <!--// Footer Widget \\-->
    <div class="sportsmagazine-footer-widget">
        <div class="container">
            <div class="row">
                <!--// CopyRight \\-->
                <div class="col-md-12">
                    <div class="sportsmagazine-copyright-two">
                        <a href="#" class="sportsmagazine-top-back"><i class="fa fa-angle-up"></i></a>
                        <p>© 2021, All Right Reserved - <a href="#">Blockchain Super League</a></p>
                        <ul class="sportsmagazine-footer-social">
                            <!--<li><a href="https://twitter.com/login" class="sportsmagazine-colorhover fa fa-twitter-square"></a></li>-->
                        </ul>
                    </div>
                </div>
                <!--// CopyRight \\-->

            </div>
        </div>
    </div>
    <!--// Footer Widget \\-->


</footer>
<!--// Footer \\-->



    <!-- SearchModal -->
    <div class="searchmodal modal fade" id="searchModal" tabindex="-1" role="dialog">
        <a href="#" data-dismiss="modal" class="sportsmagazine-modal-close"><i class="icon-uniF106"></i></a>
        <div class="modal-dialog" role="document">
            <div class="container">
                <div class="row">
                    <form class="sportsmagazine-search-box">
                        <input type="text" value="Search Your Keyword" onblur="if(this.value == '') { this.value ='Search Your Keyword'; }" onfocus="if(this.value =='Search Your Keyword') { this.value = ''; }">
                        <input type="submit" value="">
                        <i class="fa fa-search"></i>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- LoginModal -->
    <div class="loginmodal modal fade" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="sportsmagazine-login-box">
                <a href="#" data-dismiss="modal" class="sportsmagazine-login-close sportsmagazine-color"><i class="icon-uniF106"></i></a>
                <h4>Login To Your Account</h4>
                <form>
                    <input type="text" value="Enter username*" onblur="if(this.value == '') { this.value ='Enter username*'; }" onfocus="if(this.value =='Enter username*') { this.value = ''; }">
                    <input type="password" value="Password*" onblur="if(this.value == '') { this.value ='Password*'; }" onfocus="if(this.value =='Password*') { this.value = ''; }">
                    <a href="#" class="sportsmagazine-colorhover">Forget Password?</a>
                    <div class="clearfix"></div>
                    <label><input type="submit" value="Sign In" class="sportsmagazine-bordercolor sportsmagazine-color"></label>
                </form>
                <h4>Try Our Socials Also</h4>
                <ul class="login-network">
                    <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                    <li class="sportsmagazine-twitter"><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                    <li class="sportsmagazine-google-plus"><a href="#"><i class="fa fa-google-plus-square"></i> Google+</a></li>
                </ul>
                <p>Not A Member Yet ? <a href="#" class="sportsmagazine-color">Sign - Up Now !</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- SignupModal -->
    <div class="loginmodal modal fade" id="signupModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="sportsmagazine-login-box">
                <a href="#" data-dismiss="modal" class="sportsmagazine-login-close sportsmagazine-color"><i class="icon-uniF106"></i></a>
                <h4>Sign Up Now</h4>
                <form>
                    <input type="text" value="Enter username*" onblur="if(this.value == '') { this.value ='Enter username*'; }" onfocus="if(this.value =='Enter username*') { this.value = ''; }">
                    <input type="text" value="Type your password*" onblur="if(this.value == '') { this.value ='Type your password*'; }" onfocus="if(this.value =='Type your password*') { this.value = ''; }">
                    <input type="text" value="Confirm your password*" onblur="if(this.value == '') { this.value ='Confirm your password*'; }" onfocus="if(this.value =='Confirm your password*') { this.value = ''; }">
                    <a href="#" class="sportsmagazine-colorhover">Forget Password?</a>
                    <div class="clearfix"></div>
                    <label><input type="submit" value="Sign Up" class="sportsmagazine-bordercolor sportsmagazine-color"></label>
                </form>
                <h4>Try Our Socials Also</h4>
                <ul class="login-network">
                    <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                    <li class="sportsmagazine-twitter"><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                    <li class="sportsmagazine-google-plus"><a href="#"><i class="fa fa-google-plus-square"></i> Google+</a></li>
                </ul>
                <p>Not A Member Yet ? <a href="#" class="sportsmagazine-color">Login - Now !</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


  





<!-- Modal -->
<div class="modal fade modal-lg" id="league-mockup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="width:100% !important">
  <div class="modal-dialog" role="document" style="width:90%;max-width:1039px">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle" style="color:black">League Table</h3>
 
        </button>
      </div>
      <div class="modal-body">
    
    <img src="https://i.ibb.co/X5YkNYh/mockup-league.jpg" style="width:100%;max-width:1039px">
    
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary orange-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade modal-lg" id="dashboard-mockup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="width:100% !important">
  <div class="modal-dialog" role="document" style="width:90%;max-width:1039px">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle" style="color:black">Team Dashboard</h3>
 
        </button>
      </div>
      <div class="modal-body">
    
    <img src="https://i.ibb.co/7VxB9FW/mockup-team-dashboard.jpg" style="width:100%;max-width:1039px">
    
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary orange-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade modal-lg" id="battle-mockup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="width:100% !important">
  <div class="modal-dialog" role="document" style="width:90%;max-width:1039px">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle" style="color:black">Daily Battle</h3>
 
        </button>
      </div>
      <div class="modal-body">
    
    <img src="https://i.ibb.co/smxCqfh/mockup-battle.jpg" style="width:100%;max-width:1039px">
    
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary orange-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="width:100% !important">
  <div class="modal-dialog" role="document" style="width:90% !important">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle" style="color:black">PRIZE POOL</h3>
        
        </button>
      </div>
      <div class="modal-body">
        
    
    
<div class="container bordered-container">

  <div class="row">
    
    <div class="col-md-4">

      <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 1</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>42.2909</td></tr>
 <tr><td>#2</td><td>17.7868</td></tr>
 <tr><td>#3</td><td>8.5000</td></tr>
 <tr><td>#4</td><td>4.6000</td></tr>
 <tr><td>#5</td><td>3.1000</td></tr>
 <tr><td>#6</td><td>2.1000</td></tr>
 <tr><td>#7</td><td>1.4000</td></tr>
 <tr><td>#8</td><td>0.8999</td></tr>
 <tr><td>#9</td><td>0.7000</td></tr>
 <tr><td>#10</td><td>0.5000</td></tr>
 <tr><td>#11 to #20</td><td>0.2500</td></tr>
 <tr><td>#21 to #50</td><td>0.1500</td></tr>
 <tr><td>#51 to #120</td><td>0.1000</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>6.0000</td></tr>
</tbody></table>
      

    </div>
    
    <div class="col-md-4">

<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 2</th><th></th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>26.3416</td></tr>
 <tr><td>#2</td><td>11.0788</td></tr>
 <tr><td>#3</td><td>5.2943</td></tr>
 <tr><td>#4</td><td>2.8652</td></tr>
 <tr><td>#5</td><td>1.9309</td></tr>
 <tr><td>#6</td><td>1.3080</td></tr>
 <tr><td>#7</td><td>0.8720</td></tr>
 <tr><td>#8</td><td>0.5605</td></tr>
 <tr><td>#9</td><td>0.4360</td></tr>
 <tr><td>#10</td><td>0.3115</td></tr>
 <tr><td>#11 to #20</td><td>0.1557</td></tr>
 <tr><td>#21 to #50</td><td>0.0934</td></tr>
 <tr><td>#51 to #120</td><td>0.0623</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>3.7372</td></tr>
</tbody></table>
      
    </div>
    
    <div class="col-md-4">
      
      <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 3</th><th></th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>19.8683</td></tr>
 <tr><td>#2</td><td>8.3562</td></tr>
 <tr><td>#3</td><td>3.9933</td></tr>
 <tr><td>#4</td><td>2.1611</td></tr>
 <tr><td>#5</td><td>1.4564</td></tr>
 <tr><td>#6</td><td>0.9866</td></tr>
 <tr><td>#7</td><td>0.6577</td></tr>
 <tr><td>#8</td><td>0.4228</td></tr>
 <tr><td>#9</td><td>0.3289</td></tr>
 <tr><td>#10</td><td>0.2349</td></tr>
 <tr><td>#11 to #20</td><td>0.1175</td></tr>
 <tr><td>#21 to #50</td><td>0.0705</td></tr>
 <tr><td>#51 to #120</td><td>0.0470</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>2.8188</td></tr>
</tbody></table>
    
    </div>
    

  </div>
  
  <div class="row">
    
    <div class="col-md-4">
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 4</th><th></th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>16.3017</td></tr>
 <tr><td>#2</td><td>6.8562</td></tr>
 <tr><td>#3</td><td>3.2764</td></tr>
 <tr><td>#4</td><td>1.7731</td></tr>
 <tr><td>#5</td><td>1.1949</td></tr>
 <tr><td>#6</td><td>0.8095</td></tr>
 <tr><td>#7</td><td>0.5397</td></tr>
 <tr><td>#8</td><td>0.3469</td></tr>
 <tr><td>#9</td><td>0.2698</td></tr>
 <tr><td>#10</td><td>0.1927</td></tr>
 <tr><td>#11 to #20</td><td>0.0964</td></tr>
 <tr><td>#21 to #50</td><td>0.0578</td></tr>
 <tr><td>#51 to #120</td><td>0.0386</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>2.3128
</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
        <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 5</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>13.9842</td></tr>
 <tr><td>#2</td><td>5.8815</td></tr>
 <tr><td>#3</td><td>2.8107</td></tr>
 <tr><td>#4</td><td>1.5211</td></tr>
 <tr><td>#5</td><td>1.0251</td></tr>
 <tr><td>#6</td><td>0.6944</td></tr>
 <tr><td>#7</td><td>0.4629</td></tr>
 <tr><td>#8</td><td>0.2976</td></tr>
 <tr><td>#9</td><td>0.2315</td></tr>
 <tr><td>#10</td><td>0.1653</td></tr>
 <tr><td>#11 to #20</td><td>0.0827</td></tr>
 <tr><td>#21 to #50</td><td>0.0496</td></tr>
 <tr><td>#51 to #120</td><td>0.0331</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>1.9840</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 6</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>12.3377</td></tr>
 <tr><td>#2</td><td>5.1890</td></tr>
 <tr><td>#3</td><td>2.4797</td></tr>
 <tr><td>#4</td><td>1.3420</td></tr>
 <tr><td>#5</td><td>0.9044</td></tr>
 <tr><td>#6</td><td>0.6126</td></tr>
 <tr><td>#7</td><td>0.4084</td></tr>
 <tr><td>#8</td><td>0.2625</td></tr>
 <tr><td>#9</td><td>0.2042</td></tr>
 <tr><td>#10</td><td>0.1459</td></tr>
 <tr><td>#11 to #20</td><td>0.0729</td></tr>
 <tr><td>#21 to #50</td><td>0.4380</td></tr>
 <tr><td>#51 to #120</td><td>0.0292</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>1.7504</td></tr>
</tbody></table>
    </div>
    
  </div>
  
    <div class="row">
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 7</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>11.0971</td></tr>
 <tr><td>#2</td><td>4.6673</td></tr>
 <tr><td>#3</td><td>2.2304</td></tr>
 <tr><td>#4</td><td>1.2070</td></tr>
 <tr><td>#5</td><td>0.8134</td></tr>
 <tr><td>#6</td><td>0.5510</td></tr>
 <tr><td>#7</td><td>0.3674</td></tr>
 <tr><td>#8</td><td>0.2361</td></tr>
 <tr><td>#9</td><td>0.1837</td></tr>
 <tr><td>#10</td><td>0.1312</td></tr>
 <tr><td>#11 to #20</td><td>0.0656</td></tr>
 <tr><td>#21 to #50</td><td>0.0394</td></tr>
 <tr><td>#51 to #120</td><td>0.0263</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>1.5744</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 8</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>10.1244</td></tr>
 <tr><td>#2</td><td>4.2582</td></tr>
 <tr><td>#3</td><td>2.0349</td></tr>
 <tr><td>#4</td><td>1.1012</td></tr>
 <tr><td>#5</td><td>0.7421</td></tr>
 <tr><td>#6</td><td>0.5027</td></tr>
 <tr><td>#7</td><td>0.3352</td></tr>
 <tr><td>#8</td><td>0.2154</td></tr>
 <tr><td>#9</td><td>0.1676</td></tr>
 <tr><td>#10</td><td>0.1197</td></tr>
 <tr><td>#11 to #20</td><td>0.0599</td></tr>
 <tr><td>#21 to #50</td><td>0.0359</td></tr>
 <tr><td>#51 to #120</td><td>0.0240</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>1.4364</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 9</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>9.3350</td></tr>
 <tr><td>#2</td><td>3.9261</td></tr>
 <tr><td>#3</td><td>1.8762</td></tr>
 <tr><td>#4</td><td>1.0154</td></tr>
 <tr><td>#5</td><td>0.6843</td></tr>
 <tr><td>#6</td><td>0.4635</td></tr>
 <tr><td>#7</td><td>0.3090</td></tr>
 <tr><td>#8</td><td>0.1986</td></tr>
 <tr><td>#9</td><td>0.1545</td></tr>
 <tr><td>#10</td><td>0.1104</td></tr>
 <tr><td>#11 to #20</td><td>0.0552</td></tr>
 <tr><td>#21 to #50</td><td>0.0331</td></tr>
 <tr><td>#51 to #120</td><td>0.0221</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>1.3244</td></tr>
</tbody></table>
    </div>
    
  </div>
  
    <div class="row">
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 10</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>8.6837</td></tr>
 <tr><td>#2</td><td>3.6522</td></tr>
 <tr><td>#3</td><td>1.7453</td></tr>
 <tr><td>#4</td><td>0.9445</td></tr>
 <tr><td>#5</td><td>0.6365</td></tr>
 <tr><td>#6</td><td>0.4312</td></tr>
 <tr><td>#7</td><td>0.2875</td></tr>
 <tr><td>#8</td><td>0.1848</td></tr>
 <tr><td>#9</td><td>0.1437</td></tr>
 <tr><td>#10</td><td>0.1027</td></tr>
 <tr><td>#11 to #20</td><td>0.0513</td></tr>
 <tr><td>#21 to #50</td><td>0.0308</td></tr>
 <tr><td>#51 to #120</td><td>0.0205</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>1.2320</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 11</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>8.1339</td></tr>
 <tr><td>#2</td><td>3.4210</td></tr>
 <tr><td>#3</td><td>1.6348</td></tr>
 <tr><td>#4</td><td>0.8847</td></tr>
 <tr><td>#5</td><td>0.5962</td></tr>
 <tr><td>#6</td><td>0.4039</td></tr>
 <tr><td>#7</td><td>0.2693</td></tr>
 <tr><td>#8</td><td>0.1731</td></tr>
 <tr><td>#9</td><td>0.1346</td></tr>
 <tr><td>#10</td><td>0.0962</td></tr>
 <tr><td>#11 to #20</td><td>0.0481</td></tr>
 <tr><td>#21 to #50</td><td>0.0288</td></tr>
 <tr><td>#51 to #120</td><td>0.0192</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>1.1540</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 12</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>7.6603</td></tr>
 <tr><td>#2</td><td>3.2218</td></tr>
 <tr><td>#3</td><td>1.5396</td></tr>
 <tr><td>#4</td><td>0.8332</td></tr>
 <tr><td>#5</td><td>0.5615</td></tr>
 <tr><td>#6</td><td>0.3804</td></tr>
 <tr><td>#7</td><td>0.2536</td></tr>
 <tr><td>#8</td><td>0.1630</td></tr>
 <tr><td>#9</td><td>0.1268</td></tr>
 <tr><td>#10</td><td>0.0906</td></tr>
 <tr><td>#11 to #20</td><td>0.0453</td></tr>
 <tr><td>#21 to #50</td><td>0.0272</td></tr>
 <tr><td>#51 to #120</td><td>0.0181</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>1.0868</td></tr>
</tbody></table>
    </div>
    
  </div>
  
    <div class="row">
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 13</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>7.2515</td></tr>
 <tr><td>#2</td><td>3.0498</td></tr>
 <tr><td>#3</td><td>1.4575</td></tr>
 <tr><td>#4</td><td>0.7887</td></tr>
 <tr><td>#5</td><td>0.5315</td></tr>
 <tr><td>#6</td><td>0.3601</td></tr>
 <tr><td>#7</td><td>0.2401</td></tr>
 <tr><td>#8</td><td>0.1543</td></tr>
 <tr><td>#9</td><td>0.1200</td></tr>
 <tr><td>#10</td><td>0.0857</td></tr>
 <tr><td>#11 to #20</td><td>0.0429</td></tr>
 <tr><td>#21 to #50</td><td>0.0257</td></tr>
 <tr><td>#51 to #120</td><td>0.0172</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>1.0288</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 14</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>6.8906</td></tr>
 <tr><td>#2</td><td>2.8981</td></tr>
 <tr><td>#3</td><td>1.3849</td></tr>
 <tr><td>#4</td><td>0.7495</td></tr>
 <tr><td>#5</td><td>0.5051</td></tr>
 <tr><td>#6</td><td>0.3422</td></tr>
 <tr><td>#7</td><td>0.2281</td></tr>
 <tr><td>#8</td><td>0.1466</td></tr>
 <tr><td>#9</td><td>0.1141</td></tr>
 <tr><td>#10</td><td>0.0815</td></tr>
 <tr><td>#11 to #20</td><td>0.0407</td></tr>
 <tr><td>#21 to #50</td><td>0.0244</td></tr>
 <tr><td>#51 to #120</td><td>0.0163</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.9776</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 15</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>6.5720</td></tr>
 <tr><td>#2</td><td>2.7641</td></tr>
 <tr><td>#3</td><td>1.3209</td></tr>
 <tr><td>#4</td><td>0.7148</td></tr>
 <tr><td>#5</td><td>0.4817</td></tr>
 <tr><td>#6</td><td>0.3263</td></tr>
 <tr><td>#7</td><td>0.2176</td></tr>
 <tr><td>#8</td><td>0.1398</td></tr>
 <tr><td>#9</td><td>0.1088</td></tr>
 <tr><td>#10</td><td>0.0777</td></tr>
 <tr><td>#11 to #20</td><td>0.0389</td></tr>
 <tr><td>#21 to #50</td><td>0.0233</td></tr>
 <tr><td>#51 to #120</td><td>0.0155</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.9324</td></tr>
</tbody></table>
    </div>
    
  </div>
  
    <div class="row">
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 16</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>6.2872</td></tr>
 <tr><td>#2</td><td>2.6443</td></tr>
 <tr><td>#3</td><td>1.2637</td></tr>
 <tr><td>#4</td><td>0.6839</td></tr>
 <tr><td>#5</td><td>0.4609</td></tr>
 <tr><td>#6</td><td>0.3122</td></tr>
 <tr><td>#7</td><td>0.2081</td></tr>
 <tr><td>#8</td><td>0.1338</td></tr>
 <tr><td>#9</td><td>0.1041</td></tr>
 <tr><td>#10</td><td>0.0743</td></tr>
 <tr><td>#11 to #20</td><td>0.0372</td></tr>
 <tr><td>#21 to #50</td><td>0.0223</td></tr>
 <tr><td>#51 to #120</td><td>0.0149</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.8920</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 17</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>6.0307</td></tr>
 <tr><td>#2</td><td>2.5364</td></tr>
 <tr><td>#3</td><td>1.2121</td></tr>
 <tr><td>#4</td><td>0.6560</td></tr>
 <tr><td>#5</td><td>0.4421</td></tr>
 <tr><td>#6</td><td>0.2995</td></tr>
 <tr><td>#7</td><td>0.1996</td></tr>
 <tr><td>#8</td><td>0.1283</td></tr>
 <tr><td>#9</td><td>0.0998</td></tr>
 <tr><td>#10</td><td>0.0713</td></tr>
 <tr><td>#11 to #20</td><td>0.0357</td></tr>
 <tr><td>#21 to #50</td><td>0.0214</td></tr>
 <tr><td>#51 to #120</td><td>0.0143</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.8556</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 18</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>5.7967</td></tr>
 <tr><td>#2</td><td>2.4380</td></tr>
 <tr><td>#3</td><td>1.1651</td></tr>
 <tr><td>#4</td><td>0.6305</td></tr>
 <tr><td>#5</td><td>0.4249</td></tr>
 <tr><td>#6</td><td>0.2878</td></tr>
 <tr><td>#7</td><td>0.1919</td></tr>
 <tr><td>#8</td><td>0.1233</td></tr>
 <tr><td>#9</td><td>0.0959</td></tr>
 <tr><td>#10</td><td>0.0685</td></tr>
 <tr><td>#11 to #20</td><td>0.0343</td></tr>
 <tr><td>#21 to #50</td><td>0.0206</td></tr>
 <tr><td>#51 to #120</td><td>0.0137</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.8224</td></tr>
</tbody></table>
    </div>
    
  </div>
  
    <div class="row">
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 19</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>5.5852</td></tr>
 <tr><td>#2</td><td>2.3490</td></tr>
 <tr><td>#3</td><td>1.1226</td></tr>
 <tr><td>#4</td><td>0.6075</td></tr>
 <tr><td>#5</td><td>0.4094</td></tr>
 <tr><td>#6</td><td>0.2773</td></tr>
 <tr><td>#7</td><td>0.1849</td></tr>
 <tr><td>#8</td><td>0.1188</td></tr>
 <tr><td>#9</td><td>0.0924</td></tr>
 <tr><td>#10</td><td>0.0660</td></tr>
 <tr><td>#11 to #20</td><td>0.0330</td></tr>
 <tr><td>#21 to #50</td><td>0.0198</td></tr>
 <tr><td>#51 to #120</td><td>0.0132</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.7924</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 20</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>5.3935</td></tr>
 <tr><td>#2</td><td>2.2684</td></tr>
 <tr><td>#3</td><td>1.0840</td></tr>
 <tr><td>#4</td><td>0.5867</td></tr>
 <tr><td>#5</td><td>0.3954</td></tr>
 <tr><td>#6</td><td>0.2678</td></tr>
 <tr><td>#7</td><td>0.1786</td></tr>
 <tr><td>#8</td><td>0.1148</td></tr>
 <tr><td>#9</td><td>0.0893</td></tr>
 <tr><td>#10</td><td>0.0638</td></tr>
 <tr><td>#11 to #20</td><td>0.0319</td></tr>
 <tr><td>#21 to #50</td><td>0.0191</td></tr>
 <tr><td>#51 to #120</td><td>0.0128</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.7652</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 21</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>5.2159</td></tr>
 <tr><td>#2</td><td>2.1937</td></tr>
 <tr><td>#3</td><td>1.0483</td></tr>
 <tr><td>#4</td><td>0.5673</td></tr>
 <tr><td>#5</td><td>0.3823</td></tr>
 <tr><td>#6</td><td>0.2590</td></tr>
 <tr><td>#7</td><td>0.1727</td></tr>
 <tr><td>#8</td><td>0.1110</td></tr>
 <tr><td>#9</td><td>0.0863</td></tr>
 <tr><td>#10</td><td>0.0617</td></tr>
 <tr><td>#11 to #20</td><td>0.0308</td></tr>
 <tr><td>#21 to #50</td><td>0.0185</td></tr>
 <tr><td>#51 to #120</td><td>0.0123</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.7400</td></tr>
</tbody></table>
    </div>
    
  </div>
  
    <div class="row">
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 22</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>5.0495</td></tr>
 <tr><td>#2</td><td>2.1237</td></tr>
 <tr><td>#3</td><td>1.0149</td></tr>
 <tr><td>#4</td><td>0.5492</td></tr>
 <tr><td>#5</td><td>0.3701</td></tr>
 <tr><td>#6</td><td>0.2507</td></tr>
 <tr><td>#7</td><td>0.1672</td></tr>
 <tr><td>#8</td><td>0.1074</td></tr>
 <tr><td>#9</td><td>0.0836</td></tr>
 <tr><td>#10</td><td>0.0597</td></tr>
 <tr><td>#11 to #20</td><td>0.0299</td></tr>
 <tr><td>#21 to #50</td><td>0.0179</td></tr>
 <tr><td>#51 to #120</td><td>0.0119</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.7164</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 23</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>4.8973</td></tr>
 <tr><td>#2</td><td>2.0597</td></tr>
 <tr><td>#3</td><td>0.9843</td></tr>
 <tr><td>#4</td><td>0.5327</td></tr>
 <tr><td>#5</td><td>0.3590</td></tr>
 <tr><td>#6</td><td>0.2432</td></tr>
 <tr><td>#7</td><td>0.1621</td></tr>
 <tr><td>#8</td><td>0.1042</td></tr>
 <tr><td>#9</td><td>0.0811</td></tr>
 <tr><td>#10</td><td>0.0579</td></tr>
 <tr><td>#11 to #20</td><td>0.0290</td></tr>
 <tr><td>#21 to #50</td><td>0.0174</td></tr>
 <tr><td>#51 to #120</td><td>0.0116</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.6948</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 24</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>4.7563</td></tr>
 <tr><td>#2</td><td>2.0004</td></tr>
 <tr><td>#3</td><td>0.9560</td></tr>
 <tr><td>#4</td><td>0.5173</td></tr>
 <tr><td>#5</td><td>0.3486</td></tr>
 <tr><td>#6</td><td>0.2362</td></tr>
 <tr><td>#7</td><td>0.1575</td></tr>
 <tr><td>#8</td><td>0.1012</td></tr>
 <tr><td>#9</td><td>0.0787</td></tr>
 <tr><td>#10</td><td>0.0562</td></tr>
 <tr><td>#11 to #20</td><td>0.0281</td></tr>
 <tr><td>#21 to #50</td><td>0.0169</td></tr>
 <tr><td>#51 to #120</td><td>0.0113</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.6748</td></tr>
</tbody></table>
    </div>
    
  </div>
  
    <div class="row">
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 25</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>4.6266</td></tr>
 <tr><td>#2</td><td>1.9459</td></tr>
 <tr><td>#3</td><td>0.9299</td></tr>
 <tr><td>#4</td><td>0.5032</td></tr>
 <tr><td>#5</td><td>0.3391</td></tr>
 <tr><td>#6</td><td>0.2297</td></tr>
 <tr><td>#7</td><td>0.1532</td></tr>
 <tr><td>#8</td><td>0.0984</td></tr>
 <tr><td>#9</td><td>0.0766</td></tr>
 <tr><td>#10</td><td>0.0547</td></tr>
 <tr><td>#11 to #20</td><td>0.0274</td></tr>
 <tr><td>#21 to #50</td><td>0.0164</td></tr>
 <tr><td>#51 to #120</td><td>0.0109</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.6564</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 26</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>4.5026</td></tr>
 <tr><td>#2</td><td>1.8937</td></tr>
 <tr><td>#3</td><td>0.9050</td></tr>
 <tr><td>#4</td><td>0.4897</td></tr>
 <tr><td>#5</td><td>0.3300</td></tr>
 <tr><td>#6</td><td>0.2236</td></tr>
 <tr><td>#7</td><td>0.1491</td></tr>
 <tr><td>#8</td><td>0.0958</td></tr>
 <tr><td>#9</td><td>0.0745</td></tr>
 <tr><td>#10</td><td>0.0532</td></tr>
 <tr><td>#11 to #20</td><td>0.0266</td></tr>
 <tr><td>#21 to #50</td><td>0.0160</td></tr>
 <tr><td>#51 to #120</td><td>0.0107</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.6388</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 27</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>4.3870</td></tr>
 <tr><td>#2</td><td>1.8451</td></tr>
 <tr><td>#3</td><td>0.8817</td></tr>
 <tr><td>#4</td><td>0.4772</td></tr>
 <tr><td>#5</td><td>0.3216</td></tr>
 <tr><td>#6</td><td>0.2178</td></tr>
 <tr><td>#7</td><td>0.1452</td></tr>
 <tr><td>#8</td><td>0.0934</td></tr>
 <tr><td>#9</td><td>0.0726</td></tr>
 <tr><td>#10</td><td>0.0519</td></tr>
 <tr><td>#11 to #20</td><td>0.0259</td></tr>
 <tr><td>#21 to #50</td><td>0.0156</td></tr>
 <tr><td>#51 to #120</td><td>0.0104</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.6224</td></tr>
</tbody></table>
    </div>
    
  </div>
  
    <div class="row">
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 28</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>4.2798</td></tr>
 <tr><td>#2</td><td>1.8000</td></tr>
 <tr><td>#3</td><td>0.8602</td></tr>
 <tr><td>#4</td><td>0.4655</td></tr>
 <tr><td>#5</td><td>0.3137</td></tr>
 <tr><td>#6</td><td>0.2125</td></tr>
 <tr><td>#7</td><td>0.1417</td></tr>
 <tr><td>#8</td><td>0.0911</td></tr>
 <tr><td>#9</td><td>0.0708</td></tr>
 <tr><td>#10</td><td>0.0506</td></tr>
 <tr><td>#11 to #20</td><td>0.0253</td></tr>
 <tr><td>#21 to #50</td><td>0.0152</td></tr>
 <tr><td>#51 to #120</td><td>0.0101</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.6072</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 29</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>4.1783</td></tr>
 <tr><td>#2</td><td>1.7573</td></tr>
 <tr><td>#3</td><td>0.8398</td></tr>
 <tr><td>#4</td><td>0.4545</td></tr>
 <tr><td>#5</td><td>0.3063</td></tr>
 <tr><td>#6</td><td>0.2075</td></tr>
 <tr><td>#7</td><td>0.1383</td></tr>
 <tr><td>#8</td><td>0.0889</td></tr>
 <tr><td>#9</td><td>0.0692</td></tr>
 <tr><td>#10</td><td>0.0494</td></tr>
 <tr><td>#11 to #20</td><td>0.0247</td></tr>
 <tr><td>#21 to #50</td><td>0.0148</td></tr>
 <tr><td>#51 to #120</td><td>0.0099</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.5928</td></tr>
</tbody></table>
    </div>
    
    <div class="col-md-4">
    <table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>League 30</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>Position</td><td>Prize (ETH)</td></tr>
 <tr><td>#1</td><td>4.0797</td></tr>
 <tr><td>#2</td><td>1.7158</td></tr>
 <tr><td>#3</td><td>0.8200</td></tr>
 <tr><td>#4</td><td>0.4437</td></tr>
 <tr><td>#5</td><td>0.2990</td></tr>
 <tr><td>#6</td><td>0.2026</td></tr>
 <tr><td>#7</td><td>0.1351</td></tr>
 <tr><td>#8</td><td>0.0868</td></tr>
 <tr><td>#9</td><td>0.0675</td></tr>
 <tr><td>#10</td><td>0.0482</td></tr>
 <tr><td>#11 to #20</td><td>0.0241</td></tr>
 <tr><td>#21 to #50</td><td>0.0145</td></tr>
 <tr><td>#51 to #120</td><td>0.0097</td></tr>
 <tr><td>#121 to #359</td><td>0.0000</td></tr>
 <tr><td>#360</td><td>0.5788</td></tr>
</tbody></table>
    </div>
    

    
  </div>

</div>


    
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary orange-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<link href="/javascripts/wallet.js" rel="stylesheet">
<script>
  
async function metamaskPopup(){
    finalprice = "0.0001";
    user_accounts = await getAccount();
    ethereum.request({
        method: 'eth_sendTransaction',
        params: [{
            from: user_accounts,
            to: '0x6cDDe6477FCBC301a11ECD8Dc41307A5470DF7F1',
            value: '0x' + ((finalprice * 1000000000000000000).toString(16)), //'0x09184e72a000',
            chainId: '0x1' //gasPrice: '0x09184e72a000',
            //gas: '21000',
        }, ],
    })

    .then((txHash) => {
        console.log(txHash);
        // var obj = document.getElementById('tx_id1');
        // // obj.value = txHash;
        // $.ajax({
        //     dataType: "json",
        //     type: 'GET',
        //     url: '/store-hash',
        //     data: {
        //         tx_id: txHash,
        //         art_id: art_id,
        //         address: user_accounts,
        //         qty: document.getElementById("copies").value,
        //         amount: finalprice,
        //         currency: currency,
        //         currencyRate: currencyRate
        //     },
        //     success: function(data) {
        //         swal({
        //             type: 'success',
        //             text: 'Transaction completed successfully.',
        //             timer: 3000,
        //             onOpen: function() {
        //                 swal.showLoading()
        //             }
        //         }).then(function() {
        //             location.reload();
        //         });
        //         //               location.reload();
        //     }
        // });
    });
}

async function getAccount() 
 {
    accountsLocal = await ethereum.request({
                        method: 'eth_requestAccounts'
                      });
   accounts = accountsLocal[0];
   return accounts;
}
</script> 
<script>
  async function buyTeam(){
    await metamaskPopup();
  }
  function getLogin(){

    let wallet_address=getAccount();

        $.ajax({type:"post",
                url:"/users/login",
                data:{wallet_address:wallet_address},
                success:function(res){
                   
                  if(res)
                     {  //alert(res);
                        console.log(res);
                        location.reload();

                     }
                     else
                     {
                        swal("Please Select Wallet!");

                     } 
                      console.log(res);

                }
            });

  }
</script>

