 <!--// Header \\-->
 <header id="sportsmagazine-header" class="sportsmagazine-header-two">
            


    <! <!--// MainHeader \\-->
    <div class="sportsmagazine-main-header">
        <div class="container nav-header">
            <div class="row">
                <aside class="col-md-3 col-xs-8"> <a href="#" class="sportsmagazine-logo-two"><!-- <img src="assets/images/logo-2.png" alt=""> -->
                    <h1 class="logo-place"><img src="assets/images/other/logo.png" class="img-fluid logo-l"><img src="assets/images/new/logo-s.png" class="logo-s"></h1>
                </a> </aside>
                <aside class="col-md-9 col-xs-4 navfix">
                    
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="true">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        </div>
                        
                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                          <ul class="nav navbar-nav">
                                <li class="menu-item"><a href="#">HOME</a></li>
                                <li class="menu-item"><a href="#mint">Mint</a></li>
                                
                                <li class="menu-item"><a href="#utility">Utility</a></li>
                                <li class="menu-item"><a href="#league">League</a></li>

                                <li class="menu-item"><a href="#roadmap">Roadmap</a></li>

                                
                                <li class="menu-item"><a href="#faq">Faq</a></li>
                                <li class="menu-item"><a href="#contact">Contact</a></li>
                                <li class="menu-item"onclick="buyTeam()"><a href="#">Team</a></li>

                               <!--  <li class="connect-wallet-wrap" style="margin-top: 20px !important;margin-left: 10px !important;margin-right: 10px !important;margin-bottom: 20px !important;"><a href="#" class="connect-wallet">Connect Wallet</a></li> -->
                                
                               
                              </ul>
                        </div>
                    </nav>
                </aside>
            </div>
        </div>
    </div>
    <!--// MainHeader \\-->

</header>
<!--// Header \\-->