 <!--// Main Section \\-->
 <div class="sportsmagazine-main-section small-new-gallery" style="float: none;">
  <span class="section-post-transparent"></span>
  <div class="container">
      <div class="row">
           <div class="col-md-5 header-text">
              <div class="sportsmagazine-section-post-text pt-3"  style="font-weight:normal !important;text-align:left;">
                  <h5 style="font-weight:normal !important;text-align:left;"><br>Something new is entering the arena...</h5>
                  <h3>No, IT IS the Arena</h3>
                  <p>The Blockchain Super League is a vast collection of 10,800 uniquely named teams with uniquely designed team badges - no AI - no random avatar generation. Owning one of these teams puts you in the leagues of the Blockchain Super League.
                  </p>
                  <p>Each day for 360 days a year, your team will battle it out against other teams in one of our 30 leagues. For whichever team has performed the best on that day, special prizes worth a total of 0.3ETH will be delivered to 3 wallets. At the end of each year, huge prizes of 500ETH+ will be showered over league winners.</p>

                  <p class="header-last-p">What’s unique about this? Owning NFT’s from other projects gives you advantages to beat other teams in battle - that’s right. Got an Ape? A Cryptopunk?  Your chances of winning just increased! <span id="mint"></span></p>
  

                  
              </div>
          </div>

<div class="col-md-7 header-images">

                  <img class="header-badges" src="assets/images/new/team-badges.png">
  
  <img class="header-badges-small" src="assets/images/new/badges-smaller.png">

          </div>
          

      </div>
  </div>
</div>
<!--// Main Section \\-->

<div class="clearfix"></div>

<!--// Main Content \\-->
<div class="sportsmagazine-main-content pt-0">

<div class="mint-outer-sec">
  <div class="container">
      <div class="row">
          <div class="col-md-5">
             <div class="img-box">
                 <img src="assets/images/other/man.png" class="img-fluid" id="mint">
             </div>
          </div>
          <div class="col-md-5">
              <div>
                  <div class="sportsmagazine-section-post-text text-left mint-sec-box color-black">
                      <h2 class="main-heading color-white">The Mint</h2>
                    
                          <p>We are hard at work crafting 10,800 team names and badges. Unlike most other 10,000+ avatar projects, each one is unique with no AI or random generation. </p>
                      <p>More details of the mint will be available once we have finalized the Blockchain Super League teams. </p>
                      <p>For up-to-the-minute information feel free to jump into our Discord server.</p>
                      
    <p><a href="#" target="blank"><img src="assets/images/new/discord-join.jpg"></a></p>

    <span id="utility"></span>
                  
                     
                  </div> 
              </div>
          </div>
      </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="mint-outer-sec why-choose-sec section">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
               <div >
                  <h5 class="subheading">Why Own a Team?</h5>
                  <h2 class="main-heading">Supercharged NFT Utility</h2>
                  <p>The Blockchain Super League is the first and only fantasy league that passively enters you into daily battles and takes into account what NFT's are in your wallet to determine your team and your chances of winning.

</p>  
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="why-choose-box">
                 <h2><img src="assets/images/other/1.png"></h2> 
                 <h5>Daily Battles</h5>
                 <p>The Blockchain Super League is the first and only fantasy league that passively enters you into daily battles. We take into account what NFT's you own to determine your team and your chances of winning.</p>
              </div>
          </div>
           <div class="col-md-4">
              <div class="why-choose-box">
                 <h2><img src="assets/images/other/2.png"></h2> 
                 <h5>Passive Battles</h5>
                 <p>There is no team selection. Battles take place without direct input. The “third party” NFT’s you own have a real effect on how likely your team is to dominate a battle.</p>
              </div>
          </div>
           <div class="col-md-4">
              <div class="why-choose-box">
                 <h2><img src="assets/images/other/3.png"></h2> 
                 <h5>Huge Prizes</h5>
                 <p>More than 500ETH showered over end of year league winners. Plus 0.3ETH is rewarded daily for achievements such as &quot;biggest come back&quot; and &quot;largest points difference&quot;. </p>
              </div>
          </div>

           <div class="col-md-4">
              <div class="why-choose-box">
                 <h2><img src="assets/images/other/4.png"></h2> 
                 <h5>All Inclusive Model</h5>
                 <p>We encourage you to buy and own NFT’s from other projects, this enables your team to soar towards the top of the league. Build your team simply by owning “third party” NFT's.</p>
              </div>
          </div>
           <div class="col-md-4">
              <div class="why-choose-box">
                 <h2><img src="assets/images/other/5.png"></h2> 
                 <h5>Full Ownership</h5>
                 <p>You own your team and team name. We make no copyright claim. Put it on a tea towel for your grandma, open a shop, tattoo it on your forehead - it’s up to you.</p>
              </div>
          </div>
           <div class="col-md-4">
              <div class="why-choose-box">
                 <h2><img src="assets/images/other/6.png"></h2> 
                 <h5>Community</h5>
                 <p>We are community driven. Owning a team gives you a vote towards how the league is driven. You also have a vote in what NFT’s influence the outcomes of games.</p><span id="league"></span>
              </div>
          </div>

      </div>
  </div>
</div>

<div class="clearfix"></div>


<div class="mint-outer-sec battle-height">
  <div class="container">
      <div class="row">
          
          <div class="col-md-5">
              <div>
                  <div class="sportsmagazine-section-post-text text-left mint-sec-box ">
                      <h2 class="main-heading color-orange ltbc">Let the battle commence</h2>
                      <p>We’re serious about competition. Once you join the Blockchain Super League, you will be too.</p>
                      <p>Our algorithms etc etc something something. We’re serious about competition. Once you join the Blockchain Super League, you will be too. We’re serious about competition. Once you join the Blockchain Super League, you will be too. </p>
                      
                  <div class="mt-3 prize-pool-btn-placing">
                        <a class="orange-btn" data-toggle="modal" data-target="#exampleModalLong" style="cursor:pointer">Prize Pool</a>

<a class="orange-btn" data-toggle="modal" data-target="#league-mockup" style="cursor:pointer">League</a>

<a class="orange-btn" data-toggle="modal" data-target="#dashboard-mockup" style="cursor:pointer">Dashboard</a>

<a class="orange-btn"  data-toggle="modal" data-target="#battle-mockup" style="cursor:pointer">Battle</a>
                      </div>
                     
                  </div> 
              </div>
          </div>
          <div class="col-lg-4 col-md-offset-2 man-feet-container">
                 <img src="assets/images/new/man-feet.png" class="man-feet">
             </div>
      </div>
  </div>

</div>

<!-- <div class="clearfix"></div> -->

<!-- <div class="container take-a-look">
<div class="row">
       <div class="col-md-12">
<a class="orange-btn" href="#">Take a look at an example of our league system (coming soon)</a><span id="roadmap"></span>
</div>
</div>
</div> -->

<div class="clearfix"></div>


<div class="mint-outer-sec why-choose-sec roadmap-sec section" id="roadmap">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
               <div >
                  <h5 class="subheading">We're here to stay</h5>
                  <h2 class="main-heading">Roadmap - Phase 1</h2>
                  <p>We're working 24/7, generating the teams and working the magic to launch the Blockchain Super League into the stratosphere and to the moon. </p>  
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="why-choose-box">
                 <h2><img src="assets/images/other/10.png"></h2> 
                 <h5>Conception <span class="color-white">09/01/21</span></h5>
                 <p>Concept complete. Website online and the public made aware of the Blockchain Super League. </p>
              </div>
          </div>
           <div class="col-md-4">
              <div class="why-choose-box">
                <h2><img src="assets/images/other/20.png"></h2> 
                 <h5>Minting  <span class="color-white">October TBD</span></h5> 
                 <p>The minting phase of the Blockchain Super League will start in stages. Early access OG’s to go first.</p>
              </div>
          </div>
           <div class="col-md-4">
              <div class="why-choose-box">
                 <h2><img src="assets/images/other/30.png"></h2> 
                 <h5>Team Reveal <span class="color-white">12/31/21</span></h5>
                 <p>Your teams are revealed. You’ll find out your team name, team badge and what league you’ve been placed in. </p>
              </div>
          </div>
           <div class="col-md-4">
              <div class="why-choose-box">
                 <h2><img src="assets/images/other/50.png"></h2> 
                 <h5>League Launch <span class="color-white">01/01/22</span></h5>
                 <p>The battle commences. Your team will be entered into daily matches with your “third party” NFT's as part of your team.</p>
              </div>
          </div>
           <div class="col-md-4">
              <div class="why-choose-box">
                 <h2><img src="assets/images/other/60.png"></h2> 
                 <h5>Club shop opens <span class="color-white">04/01/22</span></h5>
                 <p>The club shop opens, more details to follow soon.</p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="why-choose-box">
                 <h2><img src="assets/images/other/70.png"></h2> 
                 <h5>Stadium Sell-off <span class="color-white">08/01/22</span></h5>
                 <p>10,800 uniquely named and created stadium NFT's are added to the Super League for your team to play in. </p>
              </div>
          </div>
<div class="col-md-2"></div>
          <div class="col-md-4">
              <div class="why-choose-box">
                 <h2><img src="assets/images/other/90.png"></h2> 
                 <h5>Mascott Madness <span class="color-white">12/01/22</span></h5>
                 <p>Add mascotts to your team to boost your chances of winning. All uniquely created. Maybe you can name them?</p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="why-choose-box">
                 <h2><img src="assets/images/other/100.png"></h2> 
                 <h5>The Big Payout <span class="color-white">12/31/22</span></h5>
                 <p>Winners and losers of the leagues will be announced and huge payouts from the community pool will rain down. <span id="faq"></span></p>
              </div>
          </div>
           <div class="col-md-2"></div>

      </div>
  </div>
</div>

<div class="clearfix"></div>


<!--// Main Section \\-->
<div class="sportsmagazine-main-section faq-new-sec">
  <div class="container">
      <div class="row">
          
          <div class="col-md-10 col-md-offset-1">
               <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-center">
                       <div >
                          <h5 class="subheading">Did we miss Anything?</h5>
                          <h2 class="main-heading color-white">Frequently Asked Questions</h2>  
                      </div>
                  </div>
              </div>
              <div class="panel-group sportsmagazine-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                         <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         What is the Blockchain Super League?
                     </a>
                      </h4>
                   </div>
                   <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                         <p>The Blockchain Super League is a vast collection of 10,800 uniquely named teams with uniquely designed team badges - no AI - no random avatar generation. Owning one of these teams puts you in the Blockchain Super League.</p>
                      </div>
                   </div>
                </div>
                <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         Are any teams stronger than any other?
                     </a>
                      </h4>
                   </div>
                   <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                         <p>Teams are fluent - players come and go, loyalties are always in question.  Your players decide your team strength - and your players are the other NFT’s you own, and this will be fluent and expand as time goes on - with your team, you also have a vote and say in what NFT’s influence the outcomes of games.  If two teams came up against each other with no other NFT’s involved, no team is stronger than another - it’s a coin flip!</p>
                      </div>
                   </div>
                </div>
                <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         Are any teams rarer than any other?
                     </a>
                      </h4>
                   </div>
                   <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                         <p>
       When the first Bitcoin was minted, the creator also formed ten teams - especially curated for the initial adopters of Bitcoin and those who believed in it’s future.  These were the ‘Founding Fathers’.  Word spread in the underground, more teams spun off and were invited into the Blockchain Super League by the ‘Founding Fathers’.  The rarity is based on the special stamp that you see on your NFT, with only 15% having this stamp, and different rarity for each level.</p>
       <p>&nbsp; </p>

<ul style="color:#000;font-weight:bold">
<li>The Founding Fathers (10 Teams, 0.09% of Teams)</li>
<li>The Spin Offs (108 Teams, 1% of Teams)</li>
<li>The Signatures (216 Teams, 2% of Teams)</li>
<li>The Fan Favourites (324 Teams, 3% of Teams)</li>
<li>The Boutiques (432 Teams, 4% of Teams)</li>
<li>The Sprinkled (540 Teams, 5% of Teams)</li>
</ul>
<br>
<p>But - this does not increase the strength of your team, your NFT’s do!</p>

       </p>
                      </div>
                   </div>
                </div>
  
  
                <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="headingFour">
                      <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                         How much does a team cost?
                     </a>
                      </h4>
                   </div>
                   <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                      <div class="panel-body">
                         <p>We are still working on this. But expect between 0.06 to 0.1ETH + gas.</p>
                      </div>
                   </div>
                </div>
  
  
                <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="headingFive">
                      <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                         Are you doing any early access?</span>
                     </a>
                      </h4>
                   </div>
                   <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                      <div class="panel-body">
                         <p>We are! Join our friendly <a href="http://discord.gg/NNYQKarB28"  target="_blank" class="link-orange">Discord channel</a> before all the OG spots get filled. We plan to give the first 200 members early access to our drop.</p>
                      </div>
                   </div>
                </div>
  
  
  <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="heading6">
                      <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                         How does this whole battling system thing work?</span>
                     </a>
                      </h4>
                   </div>
                   <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                      <div class="panel-body">
                         <p>Every team plays once a day - fixtures are allocated at the start of the year, and you’ll know who you’re playing and when.  The Blockchain Super League runs without any need of your intervention, it analyses your chance of winning the game from looking at your wallet and the roster of NFT’s you have - the stronger your NFT collection is, the more % you’ll have to win!</p>
       
       <p>Every day, the results of the fixtures are posted at the same time and you can see if you managed to pull a result out of the bag.</p>
                      </div>
                   </div>
                </div>
  
  
  <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="heading7">
                      <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                         How are prizes distributed, are there just a few winners?</span>
                     </a>
                      </h4>
                   </div>
                   <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                      <div class="panel-body">
                         <p>The Blockchain Super League wants two things, community and excitement - this is what it was all about since its inception.  We’ve got big prizes - and lots of them.  Whether you’re in the top division or the bottom, whether you're first or last, you have chances at winning huge - and that’s the fun part, no matter what, you’ll always be in the action and have a chance at getting the rewards if your team is up to the challenge.</p>
                      </div>
                   </div>
                </div>
  
  <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="heading8">
                      <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                         Do I need to set up my team so I can battle?</span>
                     </a>
                      </h4>
                   </div>
                   <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                      <div class="panel-body">
                         <p>That’s the great thing, you don’t. The entire process is passive. The NFT’s you own in your wallet dictate your chances of winning any given match. 
</p>
                      </div>
                   </div>
                </div>
  
  
  <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="heading9">
                      <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                         I have NFT’s from a few projects - how can I check if they’re going to have an impact?</span>
                     </a>
                      </h4>
                   </div>
                   <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                      <div class="panel-body">
                         <p>The strength of your team will always be easily calculable - we’ll even reveal the % chance of each game before they play (just in case you want to bump up your team in time for a big game!)... You’ll always be able to see what NFT’s have an impact by checking this website. The NFT influence page is coming soon!</p>
                      </div>
                   </div>
                </div>
  
  
  <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="heading10">
                      <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                         Can I see who I’m battling against each day, and what NFT’s they own?</span>
                     </a>
                      </h4>
                   </div>
                   <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                      <div class="panel-body">
                         <p>You’ll know all your fixtures in advance - you can plan and prepare for fixtures as little or as much as you’d like!  We will show you how the %’s have been calculated for the game, and you’ll understand how much of a favorite or underdog you are - allowing you to celebrate even more when you cause a big upset.</p>
                      </div>
                   </div>
                </div>
  
  <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="heading11">
                      <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                         Have you got an example of how the league and ranking system will look?</span>
                     </a>
                      </h4>
                   </div>
                   <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                      <div class="panel-body">
                         <p>We should have this page up in the next few days. Check back soon!</p>
                      </div>
                   </div>
                </div>
  
  <div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="heading12">
                      <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                         I can’t see an answer to my question, how do I get in touch?</span>
                     </a>
                      </h4>
                   </div>
                   <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
                      <div class="panel-body">
                         <p>Join our friendly <a href="http://discord.gg/NNYQKarB28" class="link-orange" target="_blank">Discord channel</a> and follow us on <a href="https://twitter.com/BCSuperLeague"  target="_blank" class="link-orange">Twitter</a>.</p>
                      </div>
                   </div>
                </div>
  

  
  
             </div>
          </div>


      </div>
  </div>
</div>
<!--// Main Section \\-->

<div class="clearfix"></div>


<div class="mint-outer-sec why-choose-sec stay-in-loop" id="contact">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
               <div >
                  <h5 class="subheading">Community</h5>
                  <h2 class="main-heading">Stay In The Loop</h2>
                  
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
                <div class="row">
                  <div class="col-md-6">
                      <a href="https://twitter.com/BCSuperLeague" class="link-orange" target="_blank">
    <div class="social-box">
                          <img src="assets/images/other/twitter.png">
                          <h2 class="main-heading color-orange">Twitter</h2>
                          <p class="color-black">Follow us on Twitter to get all the latest updates</p>  
                      </div>
    </a>
                      
                  </div>
                   <div class="col-md-6">
                       <a href="http://discord.gg/NNYQKarB28" class="link-orange" target="_blank">
     <div class="social-box">
                          <img src="assets/images/other/discord.png">
                          <h2 class="main-heading color-orange">Discord</h2>
                          <p class="color-black">Join our friendly discord server to chat with future team owners <span id="team"></span></p>   
                      </div>
    </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>




<div class="mint-outer-sec why-choose-sec" style="background: #11224d; /* Old browsers */
background: -moz-linear-gradient(45deg, #11224d 0%, #21437d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #11224d 0%,#21437d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #11224d 0%,#21437d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
               <div >
                  <h5 class="subheading">Say Hello To</h5>
                  <h2 class="main-heading">The Team</h2>
                   
              </div>
          </div>
      </div>
       <div class="row">
          <div class="col-sm-4">
              <div class="team-member-box">
                  <img src="assets/images/other/Nick.png">
                  <h2 class="main-heading color-orange">Nick</h2>
                  <p class="color-black">Long time Twitter lurker, designer, full time JPEG purveyor. Making sure the project runs as smooth as butter. Keeping you in the loop on Twitter and Discord.</p>  
                  <div>
                    <a href="https://twitter.com/NickFlairWooooo" target="_blank"><img src="assets/images/other/twitter.png"></a>
                    <a href="http://discord.gg/NNYQKarB28" target="_blank"><img src="assets/images/other/discord.png"></a>
                  </div>
              </div>
              
          </div>
          <div class="col-sm-4">
              <div class="team-member-box">
                  <img src="assets/images/other/Nathan.png">
                  <h2 class="main-heading color-orange">Nathan</h2>
                  <p class="color-black">Professional gambler with a curious mind. Andy is a quiet soul who merged his love of sports and curiosity about NFT’s to come up with this monumental idea.</p>  
                  <div>
                    <a href="https://twitter.com/BCSuperLeague" target="_blank"><img src="assets/images/other/twitter.png"></a>
                    <a href="http://discord.gg/NNYQKarB28" target="_blank"><img src="assets/images/other/discord.png"></a>
                  </div>
              </div>
              
          </div>
          <div class="col-sm-4">
              <div class="team-member-box">
                  <img src="assets/images/other/The-Greeky-Wizards.png">
                  <h2 class="main-heading color-orange">Geeky Wizards</h2>
                  <p class="color-black">Seriously high-tech magicians too numerous to mention. These guys have been grafting away behind the scenes day and night to help to convert a vision a reality. </p>  
                  <div>
                  </div>
              </div>
              
          </div>
           
      </div>
  </div>
</div>


<div class="clearfix"></div>







